@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: 1024px) and (max-width: 1359px) {
        @content;
    }
}