// Primary Neutral Palette

// Dark color
$primary-900: #0A196F;
$primary-800: #102587;
$primary-700: #1A37A7;
$primary-600: #264BC8;
$primary-500: #3563E9;

// Light color
$primary-400: #658DF1;
$primary-300: #85A8F8;
$primary-200: #AEC8FC;
$primary-100: #D6E4FD;
$white-color: #FFFFFF;