@use '../variables';
@use '../mixins';

.category {
    width: 100%;
    height: 100%;
    background-color:  rgba(variables.$secondinary-200, 0.2);

    .contente-category {
        @include mixins.center;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        .container-cards {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include mixins.desktop {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 31px;
            }

            @include mixins.laptop {
                column-gap: 6px;
                row-gap: 15px
            }
        }
    }
}