@use '../variables';
@use '../mixins';

.detail {
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    background-color:  rgba(variables.$secondinary-200, 0.2);


    .container-detail {

        .container-about-car {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .container-ads {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .content-ads {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 327px;
                    height: 232px;
                    padding: 20px;
                    background-color: variables.$primary-D500;
                    background-image: url('../../assets/imgs/ads2-bg.png');
                    background-repeat: no-repeat;
                    background-size: 130%;
                    border-radius: 10px;

                    .ads-title {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        width: 250px;

                        .ads-title {
                            font-size: 16px;
                            font-weight: 600;
                            color: variables.$white-color;
                        }

                        .ads-subtitle {
                            font-size: 12px;
                            font-weight: 500;
                            width: 216px;
                            color: variables.$white-color;
                        }
                    }

                    .car-ads {
                        width: 190px;
                        height: 60px;
                        margin: 0 auto;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .ads-prev {
                    display: flex;
                    gap: 20px;

                    .prevs {
                        width: 96px;
                        height: 64px;
                        border-radius: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }

                    .active {
                        @include mixins.center;
                        border: 1.5px solid variables.$primary-D500;
                        background-color: variables.$white-color;

                        img {
                            width: 88px;
                            height: 55px;
                        }
                    }
                }
            }

            .container-detail-car {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 327px;
                height: 318px;
                padding: 20px;
                background-color: variables.$white-color;
                border-radius: 10px;

                .container-detail-header {
                    width: 295px;

                    .container-detail-title {
                        display: flex;
                        flex-direction: column;
                        width: 176px;
                        gap: 6px;

                        .name-car {
                            font-size: 20px;
                            font-weight: bold;
                            letter-spacing: -0.3px;
                            color: variables.$secondinary-D500;
                        }

                        .cabecalho-reviewer {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            .container-star {
                                display: flex;
                                gap: 4px;

                                svg {
                                    width: 12px;
                                    height: 12px;
                                    font-size: 2rem;
                                    color: variables.$star-color
                                }

                                .star-off {
                                    color: variables.$secondinary-300;
                                }
                            }

                            span {
                                font-size: 12px;
                                font-weight: 500;
                                letter-spacing: -0.2px;
                                color: variables.$secondinary-300;
                            }
                        }

                    }
                }

                .container-detail-p {
                    width: 295px;

                    p {
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 200%;
                        color: variables.$secondinary-300;
                    }
                }

                .container-spesification {
                    display: flex;
                    justify-content: space-between;
                    width: 295px;

                    .content-spesification {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        width: 124px;

                        .spesification {
                            display: flex;
                            justify-content: space-between;
                            gap: 24px;

                            .sub {
                                font-size: 12px;
                                font-weight: 500;
                                letter-spacing: -0.2px;
                                color: variables.$secondinary-300;
                            }

                            .des {
                                font-size: 12px;
                                font-weight: 600;
                                letter-spacing: -0.2px;
                                color: variables.$secondinary-D500;
                                white-space: nowrap;
                            }
                        }
                    }
                }

                .container-detail-price {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 295px;

                    .content-price {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        width: 120px;

                        h2 {
                            font-size: 21px;
                            font-weight: bold;
                            color: variables.$secondinary-D500;

                            .day {
                                font-size: 12px;
                                color: variables.$secondinary-300;
                                
                            }
                        }

                        .price-off {
                            font-size: 12px;
                            text-decoration: line-through;
                            font-weight: bold;
                            color: variables.$secondinary-300;
                        }
                    }
                }

            }


        }
    }
}