@use '../variables';
@use '../mixins';

.payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-block: 50px;
    background-color:  rgba(variables.$secondinary-200, 0.2);

    @include mixins.desktop {
        padding: 0px;
    }

    .content-payment {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 327px;

        @include mixins.desktop {
            width: 100%;
            padding: 32px;
            justify-content: center;
            flex-direction: row-reverse;
        }
    
        .rental-card {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;
            width: 100%;
            height: 424px;
            padding-block: 20px;
            background-color: variables.$white-color;
            border-radius: 10px;

            @include mixins.desktop {
                width: 492px;
                height: 560px;
            }

            .rental-card-header {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 294px;

                @include mixins.desktop {
                    width: 392px;
                }

                .cabecalho-rental {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .title {
                        font-size: 16px;
                        font-weight: bold;
                        letter-spacing: -0.2px;
                        color: variables.$secondinary-D500;

                        @include mixins.desktop {
                            font-size: 20px;
                        }
                    }

                    .subtitle {
                        font-size: 12px;
                        font-weight: 500;
                        color: variables.$secondinary-300;

                        @include mixins.desktop {
                            font-weight: 14px;
                            line-height: 150%;
                        }
                    }
                }

                .container-info-car {
                    display: flex;
                    gap: 10px;

                    @include mixins.desktop {
                        align-items: center;
                    }

                    .container-foto-car {
                        width: 126px;
                        height: 80px;

                        @include mixins.desktop {
                            width: 132px;
                            height: 108px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 8px;
                        }
                    }

                    .content-infos-car {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 12px;

                        @include mixins.desktop {
                            gap: 8px;
                        }

                        .name-car {
                            font-size: 20px;
                            font-weight: bold;
                            color: variables.$secondinary-D500;

                            @include mixins.desktop {
                                font-size: 32px;
                            }
                        }
                        

                        .cabecalho-reviewer {
                            align-items: flex-start;
                            justify-content: flex-end;
                            flex-direction: column;
                            gap: 4px;

                            @include mixins.desktop {
                                flex-direction: row;
                            }
                        }
                    }
                }
            }

            .line {
                width: 295px;
                height: 1px;
                background-color: rgba(variables.$secondinary-200, 0.4);

                @include mixins.desktop {
                    width: 392px;
                }
                
            }

            .container-prices {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 294px;
                
                @include mixins.desktop  {
                    width: 392px;
                }

                .container-infos-prices {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .info-prices {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .name {
                            font-size: 12px;
                            font-weight: 600;
                            letter-spacing: -0.2px;
                            color: variables.$secondinary-300;

                            @include mixins.desktop {
                                font-weight: 500;
                                font-size: 16px;
                            }
                        }

                        .des {
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: -0.2px;
                            color: variables.$secondinary-D500;
                        }
                    }

                    
                }

                .container-code {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 295px;
                    height: 40px;
                    padding-inline: 20px;
                    border-radius: 10px;
                    background-color: #F6F7F9;

                    @include mixins.desktop {
                        width: 392px;
                        height: 56px;
                    }

                    .promo-code {
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: -0.2px;
                        color: variables.$secondinary-300;

                        @include mixins.desktop {
                            font-size: 14px;
                        }
                    }

                    .now {
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: -0.2px;
                        color: variables.$secondinary-D500;

                        @include mixins.desktop {
                            font-size: 16px;
                        }
                    }
                }

                .container-total-price {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 48px;

                    .content-txts-price {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .tp {
                            font-size: 16px;
                            font-weight: bold;
                            letter-spacing: -0.2px;
                            color: variables.$secondinary-D500;

                            @include mixins.desktop {
                                font-size: 20px;
                            }
                        }

                        .pr {
                            font-size: 12px;
                            font-weight: normal;
                            letter-spacing: -0.1px;
                            color: variables.$secondinary-300;

                            @include mixins.desktop {
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }
                    }

                    .total-price {
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: -0.4px;
                        color: variables.$secondinary-D500;

                        @include mixins.desktop {
                            font-size: 32px;
                        }
                    }
                }
            }

            
        }

        .container-forms {

            display: flex;
            flex-direction: column;
            gap: 32px;

            @include mixins.desktop {
                width: 852px;
            }

            .form-step-1 {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 295px;

                @include mixins.desktop {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 100%;
                }

                .container-inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    height: 88px;
                    width: 100%;

                    @include mixins.desktop {
                        width: 386px;
                        height: 92px;
                    }

                    label {
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: -0.3px;
                        color: variables.$secondinary-D500;

                        @include mixins.desktop {
                            font-size: 16px;
                        }
                    }

                    input[type="text"],
                    input[type="tel"] {
                        width: 100%;
                        height: 56px;
                        border: 0;
                        background-color: #F6F7F9;
                        border-radius: 10px;
                        padding-left: 20px;

                        &::placeholder {
                            font-size: 12px;
                            font-weight: 500;
                            letter-spacing: -0.3px;
                            color: variables.$secondinary-300;

                            @include mixins.desktop {
                                font-size: 14px;
                            }

                        }
                    }
                }
            }

            .form-stap-2 {
                @extend .form-step-1;

                @include mixins.desktop {
                    display: flex;
                    flex-direction: column;
                }

                .container-pick-and-drop {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    @include mixins.desktop {
                        gap: 15px;
                    }

                    .container-input-radio{
                        flex-direction: row;
                        gap: 4px;
                        height: 20px;
                        
                        input[type="radio"] {
                            cursor: pointer;
                            appearance: none;
                            width: 16px;
                            height: 16px;
                            position: relative;
                            border-radius: 50%;
                            background-color: hsla(209, 96%, 67%, 0.30);
        
                            &::before {
                                content: "";
                                width: 8px;
                                height: 8px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background-color: variables.$information-D500;
                                border-radius: 50%;
                            }

                            &:checked {
                                background-color: rgba(variables.$primary-D500, 0.3);
                            }

                            &:checked::before {
                                background-color: variables.$primary-D500;
                            }
                        }
                    }

                    .content-inputs {

                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        @include mixins.desktop {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                        }
                    
                        .container-inputs {
                            input[type="time"],
                            input[type="date"],
                            select {
                                width: 100%;
                                height: 56px;
                                border: 0;
                                background-color: #F6F7F9;
                                border-radius: 10px;
                                padding-left: 20px;

                                &::placeholder {
                                    font-size: 12px;
                                    font-weight: 500;
                                    letter-spacing: -0.3px;
                                    color: variables.$secondinary-300;
                                }
                            }
                        }
                    }
                    
                }
            }

            .form-step-3 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                width: 295px;
                height: 52px;
                padding: 20px;
                background-color: #F6F7F9;
                border-radius: 10px;
                transition: all .6s ease;

                @include mixins.desktop {
                    width: 100%;
                    height: 56px;
                }

                .pag {
                    display: flex;
                    justify-content: space-between;

                    @include mixins.desktop {
                        align-items: center;
                    }

                    .container-input-radio {

                        input[type="radio"] {
                            width: 24px;
                            height: 24px;
                            background-color: variables.$white-color;
                            border: 1px solid variables.$secondinary-300;
                            transition: all .6s ease;

                            &::before {
                                display: none;
                            }

                            &:checked {
                                width: 16px;
                                height: 16px;
                                background-color: rgba(variables.$primary-D500, 0.3);
                                border: 0;
                            }

                            &:checked::before {
                                display: block;
                                background-color: variables.$primary-D500;

                            }
                        }
                    }
                }

                .content-input-steps-3 {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    @include mixins.desktop {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }

                    .container-inputs {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        width: 100%;
                        height: 88px;

                        label {
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: -0.3px;
                            color: variables.$secondinary-D500;

                            @include mixins.desktop {
                                font-size: 16px;
                            }
                        }

                        input[type="text"] {
                            width: 100%;
                            height: 56px;
                            border: 0;
                            background-color: variables.$white-color;
                            border-radius: 10px;
                            padding-left: 20px;

                            &::placeholder {
                                font-size: 12px;
                                font-weight: 500;
                                letter-spacing: -0.3px;
                                color: variables.$secondinary-300;

                                @include mixins.desktop {
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                }
            }

            .form-step-4 {
                @extend .form-step-1;

                @include mixins.desktop {
                    display: flex;
                    flex-direction: column;
                }

                .container-checkbox {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 295px;
                    height: 64px;
                    background-color: #F6F7F9;
                    border-radius: 10px;
                    padding-inline: 19px;
                    cursor: pointer;

                    @include mixins.desktop {
                        justify-content: flex-start;
                        gap: 20px;
                        width: 100%;
                        height: 56px;
                    }

                    label {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 160%;
                        letter-spacing: -0.3px;
                        color: #1F2544;
                        width: 231px;
                        height: 44px;
                        cursor: pointer;


                        @include mixins.desktop {
                            font-size: 16px;
                            font-weight: 600;
                            width: 683px;
                            height: 24px;
                        }

                        span {
                            text-decoration: underline;
                        }

                    }

                    input[type="checkbox"] {
                        position: relative;
                        appearance: none;
                        width: 17px;
                        height: 17px;
                        border: 2px solid variables.$secondinary-300;
                        border-radius: 4px;
                        cursor: pointer;


                        @include mixins.desktop {
                            width: 24px;
                            height: 24px;
                        }

                        &:checked {
                            background-color: variables.$primary-D500;
                            border-color: variables.$primary-D500;
                        }

                        &:checked::before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 0px;
                            width: 3px;
                            height: 8px;
                            border: solid variables.$white-color;
                            border-width: 0 2px 2px 0;
                            transform: translateX(-50%) rotate(45deg);

                            @include mixins.desktop {
                                top: 1px;
                                width: 5px;
                                height: 10px;
                            }
                        }
                    }
                }
            }

            .container-sf {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 295px;

                @include mixins.desktop {
                    width: 100%;
                    gap: 16px;
                }

                img {
                    width: 32px;
                    height: 32px;
                }

                .title {
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: -0.3px;
                    color: variables.$secondinary-D500;

                    @include mixins.desktop {
                        font-weight: 600;
                    }
                }

                .subtitle {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: -0.3px;
                    color: variables.$secondinary-300;

                    @include mixins.desktop {
                        font-size: 14px;
                    }
                }
            }

            .active {
                height: auto !important;
            }

            .container-input-radio{
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 4px;
                height: 20px;
                
                input[type="radio"] {
                    cursor: pointer;
                    appearance: none;
                    width: 16px;
                    height: 16px;
                    position: relative;
                    border-radius: 50%;
                    background-color: hsla(209, 96%, 67%, 0.30);

                    &::before {
                        content: "";
                        width: 8px;
                        height: 8px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: variables.$information-D500;
                        border-radius: 50%;
                    }

                    &:checked {
                        background-color: rgba(variables.$primary-D500, 0.3);
                    }

                    &:checked::before {
                        background-color: variables.$primary-D500;
                    }
                }

                label {
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: -0.3px;
                    color: variables.$secondinary-D500;
                }
            }

        }
    }
}