@use '../variables';
@use '../mixins';

.payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-block: 50px;
    background-color:  rgba(variables.$secondinary-200, 0.2);

    .content-payment {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 327px;

        .rental-card {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;
            width: 100%;
            height: 424px;
            padding-block: 20px;
            background-color: variables.$white-color;
            border-radius: 10px;

            .rental-card-header {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 294px;

                .cabecalho-rental {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .title {
                        font-size: 16px;
                        font-weight: bold;
                        letter-spacing: -0.2px;
                        color: variables.$secondinary-D500;
                    }

                    .subtitle {
                        font-size: 12px;
                        font-weight: 500;
                        color: variables.$secondinary-300;
                    }
                }

                .container-info-car {
                    display: flex;
                    gap: 10px;

                    .container-foto-car {
                        width: 126px;
                        height: 80px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 8px;
                        }
                    }

                    .content-infos-car {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 12px;

                        .name-car {
                            font-size: 20px;
                            font-weight: bold;
                            color: variables.$secondinary-D500;
                        }
                        

                        .cabecalho-reviewer {
                            align-items: flex-start;
                            justify-content: flex-end;
                            flex-direction: column;
                            gap: 4px;
                        }
                    }
                }
            }

            .line {
                width: 295px;
                height: 1px;
                background-color: rgba(variables.$secondinary-200, 0.4);
            }

            .container-prices {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 294px;

                .container-infos-prices {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .info-prices {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .name {
                            font-size: 12px;
                            font-weight: 600;
                            letter-spacing: -0.2px;
                            color: variables.$secondinary-300;
                        }

                        .des {
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: -0.2px;
                            color: variables.$secondinary-D500;
                        }
                    }

                    
                }

                .container-code {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 295px;
                    height: 40px;
                    padding-inline: 20px;
                    border-radius: 10px;
                    background-color: #F6F7F9;

                    .promo-code {
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: -0.2px;
                        color: variables.$secondinary-300;
                    }

                    .now {
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: -0.2px;
                        color: variables.$secondinary-D500;
                    }
                }

                .container-total-price {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 48px;

                    .content-txts-price {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .tp {
                            font-size: 16px;
                            font-weight: bold;
                            letter-spacing: -0.2px;
                            color: variables.$secondinary-D500;
                        }

                        .pr {
                            font-size: 12px;
                            font-weight: normal;
                            letter-spacing: -0.1px;
                            color: variables.$secondinary-300;
                        }
                    }

                    .total-price {
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: -0.4px;
                        color: variables.$secondinary-D500;
                    }
                }
            }

            
        }

        .container-steps {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            width: 100%;
            padding-block: 15px;
            background-color: variables.$white-color;
            border-radius: 10px;

            .header-step {
                display: flex;
                justify-content: space-between;
                width: 295px;

                .header-form {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .title {
                        font-size: 16px;
                        font-weight: bold;
                        letter-spacing: -0.3px;
                        color: variables.$secondinary-D500;
                    }

                    .subtitle {
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: -0.3px;
                        color: variables.$secondinary-300;
                    }
                }

                .steps {
                    padding-top: 3px;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: -0.3px;
                    color: variables.$secondinary-300;
                }
            }

            .form-step {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 295px;

                .container-inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    height: 88px;
                    width: 100%;

                    label {
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: -0.3px;
                        color: variables.$secondinary-D500;
                    }

                    input[type="text"] {
                        width: 100%;
                        height: 56px;
                        border: 0;
                        background-color: #F6F7F9;
                        border-radius: 10px;
                        padding-left: 20px;

                        &::placeholder {
                            font-size: 12px;
                            font-weight: 500;
                            letter-spacing: -0.3px;
                            color: variables.$secondinary-300;
                        }
                    }
                }
            }

            .form-stap-2 {

                .container-pick-and-drop {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    .container-input-radio{
                        flex-direction: row;
                        gap: 4px;
                        height: 20px;
                        
                        input[type="radio"] {
                            cursor: pointer;
                            appearance: none;
                            width: 16px;
                            height: 16px;
                            position: relative;
                            border-radius: 50%;
                            background-color: hsla(209, 96%, 67%, 0.30);
        
                            &::before {
                                content: "";
                                width: 8px;
                                height: 8px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background-color: variables.$information-D500;
                                border-radius: 50%;
                            }

                            &:checked {
                                background-color: rgba(variables.$primary-D500, 0.3);
                            }

                            &:checked::before {
                                background-color: variables.$primary-D500;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}