@use '../variables';
@use '../mixins';

.container-aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 20px;
    padding-bottom: 20px;
    z-index: 888;
    width: 250px;
    height: 100vh;
    background-color: variables.$white-color;

    @include mixins.desktop {
        display: flex;
        justify-content: flex-start;
        position: relative;
        z-index: 0;
        padding: 20px;
        height: auto;
    }

    .aside-detail {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 40px;

        .content-aside {
            display: flex;
            flex-direction: column;
            gap: 28px;

            .title-aside {
                font-size: 12px;
                font-weight: 600;
                color: variables.$secondinary-300;
                text-transform: uppercase;
            }

            .container-options {
                display: flex;
                flex-direction: column;
                gap: 22px;
                width: 100%;

                .container-forms {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    height: 24px;
                    width: 100%;   

                    input[type="checkbox"] {
                        position: relative;
                        appearance: none;
                        width: 20px;
                        height: 20px;
                        border: 1px solid variables.$secondinary-300;
                        border-radius: 6px;
                        cursor: pointer;

                        &:checked {
                            background-color: variables.$primary-D500;
                            border-color: variables.$primary-D500;
                        }

                        &:checked::before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 1px;
                            width: 5px;
                            height: 10px;
                            border: solid variables.$white-color;
                            border-width: 0 2px 2px 0;
                            transform: translateX(-50%) rotate(45deg);
                        }
                    }
        
                    label {
                        font-size: 16px;
                        font-weight: 600;
                        color: variables.$secondinary-400;
                        white-space: nowrap;
                        cursor: pointer;
        
                        span {
                            color: variables.$secondinary-300;
                        }
                    }

                    
                }

                .container-price{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 200px;
                    height: 56px;
                    gap: 12px;

                    input[type="range"] {
                        width: 100%;
                        height: 12px;
                    }
                    .max-price {
                        font-size: 16px;
                        font-weight: 600;
                        color: variables.$secondinary-400;
                        display: inline-block;
                    }
                }
            }

            
        }

    }
}

.active {
    display: flex;
}