@use '../variables';
@use '../mixins';


.container-popular {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-top: 40px;

    @include mixins.desktop {
        gap: 20px;
        max-width: 1312px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .container-wrapper {
        position: relative;
        width: 371px;
        margin: 0 auto;

        @include mixins.desktop {
            width: 100%;
        }

        .container-cards {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;
            width: 100%;

            @include mixins.desktop {
                gap: 32px;
                overflow: hidden;
            }

            @include mixins.laptop {
                justify-content: space-between;
                gap: 0;
                padding-inline: 20px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 92px;
            height: 100%;
            background-image: linear-gradient(to left, variables.$white-color, transparent);
            pointer-events: none;

            @include mixins.desktop {
                display: none;
            }
        }
    }
}