@use '../variables';
@use '../mixins';


.container-popular {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-top: 40px;

    .container-wrapper {
        position: relative;
        width: 371px;
        margin: 0 auto;

        .container-cards {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;
            width: 100%;
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 92px;
            height: 100%;
            background-image: linear-gradient(to left, variables.$white-color, transparent);
            pointer-events: none;
        }
    }
}