@use '../variables';
@use '../mixins';

.catalog-recomendation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-top: 40px;

    .container-card-rec {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container-more {
        @include mixins.center;
        position: relative;
        width: 327px;
        margin: 0 auto;

        span {
            position: absolute;
            right: 0;
            font-size: 14px;
            font-weight: bold;
            color: variables.$secondinary-300;
        }
    }
}