@use '../variables';
@use '../mixins';

.catalog-recomendation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-top: 40px;

    @include mixins.desktop {
        gap: 20px;
        max-width: 1312px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .container-card-rec {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include mixins.desktop {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 31px;
        }

        @include mixins.laptop {
            column-gap: 6px;
            row-gap: 15px
        }
    }

    .container-more {
        @include mixins.center;
        position: relative;
        width: 327px;
        margin: 0 auto;

        @include mixins.desktop {
            width: 100%;
            margin: 40px 0px;
        }

        span {
            position: absolute;
            right: 0;
            font-size: 14px;
            font-weight: bold;
            color: variables.$secondinary-300;

            @include mixins.desktop {
                font-weight: 500;
            }
        }
    }
}