@use '../variables';
@use '../mixins';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 288px;
    padding-top: 30px;
    background-color: variables.$white-color;

    .container-header {
        display: flex;
        justify-content: space-between;
        width: 327px;
        height: 28px;

        .logo {
            width: 108px;
            height: 28px;

            h1 {
                font-size: 24px;
                font-weight: bold;
                line-height: 120%;
                text-transform: uppercase;
                color: variables.$primary-D500;
            }
        }
    }

    .form-container {
        display: flex;
        justify-content: space-between;
        width: 327px;
        height: 48px;
    }
}