@use '../variables';
@use '../mixins';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 288px;
    padding-top: 30px;
    background-color: variables.$white-color;

    @include mixins.desktop {
        height: 124px;
        justify-content: space-between;
        flex-direction: row;
        gap: 0;
        padding: 0;
        padding-inline: 20px;
    }

    .container-header {
        display: flex;
        justify-content: space-between;
        width: 327px;
        height: 28px;

        @include mixins.desktop  {
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .content-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;

            @include mixins.desktop  {
                align-items: center;
                width: 700px;
                height: 100%;
            }

        }

        .logo {
            width: 108px;
            height: 28px;

            @include mixins.desktop {
                width: 148px;
                height: 44px;
            }

            h1 {
                font-size: 24px;
                font-weight: bold;
                line-height: 120%;
                text-transform: uppercase;
                color: variables.$primary-D500;

                @include mixins.desktop {
                    font-size: 32px;
                }
            }
        }

        .form-desktop {
            display: none;
            align-items: center;
            justify-content: space-between;
            width: 492px;
            height: 44px;
            border: 1px solid rgba(variables.$secondinary-200, 0.40);
            border-radius: 70px;
            padding-inline: 15px;

            @include mixins.desktop {
                display: flex;
            }
        }
    }

    .form-container {
        display: flex;
        justify-content: space-between;
        width: 327px;
        height: 48px;

        @include mixins.desktop {
            display: none;
        }
    }
}

.header-category {
    @extend .header;
    justify-content: center;
    gap: 30px;
    height: 222px;
    padding-top: 0;

    .container-header {
        height: auto;

        .header-category {
            display: flex;
            justify-content: flex-start;
            gap: 30px;
            align-items: flex-start;
            height: auto;
            width: 100%;
        }
    }
}