@use '../variables';
@use '../mixins';

.container-steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-block: 15px;
    background-color: variables.$white-color;
    border-radius: 10px;

    @include mixins.desktop {
        padding: 20px;
    }
}